In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
df_train = pd.read_csv('D:/Study/MCA/5thSem/ML/train.csv')
df_train.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class,Id
0,x,x,x,x,o,o,x,o,o,0,0
1,x,x,x,x,o,o,o,x,o,0,1
2,x,x,x,x,o,o,o,b,b,0,3
3,x,x,x,x,o,b,o,b,o,0,7
4,x,x,x,x,o,b,b,o,o,0,8

In [3]:
df_test = pd.read_csv('D:/Study/MCA/5thSem/ML/test.csv')
df_test.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,Id
0,x,x,x,x,o,o,o,o,x,2
1,x,x,x,x,o,o,b,o,b,4
2,x,x,x,x,o,o,b,b,o,5
3,x,x,x,x,o,b,o,o,b,6
4,x,x,x,x,b,o,o,o,b,9

In [4]:
df_train.describe()

            class          Id
count  662.000000  662.000000
mean     0.354985  487.367069
std      0.478871  271.947556
min      0.000000    0.000000
25%      0.000000  260.250000
50%      0.000000  490.000000
75%      1.000000  717.750000
max      1.000000  956.000000

In [5]:
df_test.describe()

               Id
count  296.000000
mean   458.668919
std    286.504672
min      2.000000
25%    194.000000
50%    455.500000
75%    716.750000
max    957.000000

In [6]:
df_train.shape

(662, 11)

In [7]:
df_test.shape

(296, 10)

In [8]:
x_train = df_train.iloc[:, 0:9]
y_train = df_train['class']
x_test = df_test.iloc[:, 0:9]
x_test.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square
0,x,x,x,x,o,o,o,o,x
1,x,x,x,x,o,o,b,o,b
2,x,x,x,x,o,o,b,b,o
3,x,x,x,x,o,b,o,o,b
4,x,x,x,x,b,o,o,o,b

In [9]:
x_train.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square
0,x,x,x,x,o,o,x,o,o
1,x,x,x,x,o,o,o,x,o
2,x,x,x,x,o,o,o,b,b
3,x,x,x,x,o,b,o,b,o
4,x,x,x,x,o,b,b,o,o

In [10]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [11]:
x_train['top_left_square'] = encoder.fit_transform(x_train['top_left_square'])
x_train['top_middle_square'] = encoder.fit_transform(x_train['top_middle_square'])
x_train['top_right_square'] = encoder.fit_transform(x_train['top_right_square'])
x_train['middle_left_square'] = encoder.fit_transform(x_train['middle_left_square'])
x_train['middle_middle_square'] = encoder.fit_transform(x_train['middle_middle_square'])
x_train['middle_right_square'] = encoder.fit_transform(x_train['middle_right_square'])
x_train['bottom_left_square'] = encoder.fit_transform(x_train['bottom_left_square'])
x_train['bottom_middle_square'] = encoder.fit_transform(x_train['bottom_middle_square'])
x_train['bottom_right_square'] = encoder.fit_transform(x_train['bottom_right_square'])

x_test['top_left_square'] = encoder.fit_transform(x_test['top_left_square'])
x_test['top_middle_square'] = encoder.fit_transform(x_test['top_middle_square'])
x_test['top_right_square'] = encoder.fit_transform(x_test['top_right_square'])
x_test['middle_left_square'] = encoder.fit_transform(x_test['middle_left_square'])
x_test['middle_middle_square'] = encoder.fit_transform(x_test['middle_middle_square'])
x_test['middle_right_square'] = encoder.fit_transform(x_test['middle_right_square'])
x_test['bottom_left_square'] = encoder.fit_transform(x_test['bottom_left_square'])
x_test['bottom_middle_square'] = encoder.fit_transform(x_test['bottom_middle_square'])
x_test['bottom_right_square'] = encoder.fit_transform(x_test['bottom_right_square'])

In [12]:
x_test.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square
0,2,2,2,2,1,1,1,1,2
1,2,2,2,2,1,1,0,1,0
2,2,2,2,2,1,1,0,0,1
3,2,2,2,2,1,0,1,1,0
4,2,2,2,2,0,1,1,1,0

In [13]:
x_train.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square
0,2,2,2,2,1,1,2,1,1
1,2,2,2,2,1,1,1,2,1
2,2,2,2,2,1,1,1,0,0
3,2,2,2,2,1,0,1,0,1
4,2,2,2,2,1,0,0,1,1

In [20]:
model = DecisionTreeClassifier()
model = model.fit(x_train, y_train)
y_pred = model.predict(x_test)
y_pred

array([1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0], dtype=int64)

In [21]:
id = df_test['Id']

In [22]:
np.random.seed(123)
e = np.random.normal(size=10)
pred = pd.DataFrame(y_pred, columns = ['prediction'])
print(pred)

     prediction
0             1
1             1
2             1
3             1
4             0
..          ...
291           1
292           1
293           0
294           1
295           0

[296 rows x 1 columns]

In [23]:
pred = np.vstack((id,y_pred)).T
pred

array([[  2,   1],
       [  4,   1],
       [  5,   1],
       [  6,   1],
       [  9,   0],
       [ 10,   0],
       [ 11,   0],
       [ 12,   0],
       [ 14,   0],
       [ 17,   0],
       [ 20,   0],
       [ 25,   1],
       [ 27,   0],
       [ 28,   0],
       [ 30,   1],
       [ 31,   1],
       [ 32,   1],
       [ 33,   1],
       [ 48,   0],
       [ 50,   1],
       [ 51,   1],
       [ 58,   0],
       [ 60,   0],
       [ 64,   0],
       [ 67,   0],
       [ 69,   0],
       [ 70,   0],
       [ 72,   0],
       [ 73,   0],
       [ 77,   0],
       [ 78,   0],
       [ 79,   0],
       [ 87,   0],
       [ 95,   0],
       [101,   0],
       [105,   0],
       [107,   0],
       [111,   0],
       [115,   0],
       [117,   0],
       [118,   0],
       [126,   0],
       [127,   0],
       [129,   0],
       [130,   0],
       [132,   1],
       [134,   0],
       [138,   0],
       [141,   0],
       [142,   0],
       [144,   1],
       [148,   0],
       [150,   1],
       [153,   0],
       [154,   1],
       [155,   1],
       [157,   0],
       [158,   0],
       [160,   0],
       [161,   0],
       [163,   0],
       [164,   0],
       [165,   0],
       [167,   0],
       [168,   0],
       [173,   1],
       [176,   0],
       [180,   1],
       [182,   1],
       [184,   0],
       [185,   0],
       [188,   0],
       [190,   0],
       [191,   0],
       [195,   0],
       [199,   0],
       [200,   0],
       [201,   0],
       [202,   0],
       [205,   0],
       [206,   0],
       [208,   0],
       [209,   0],
       [210,   0],
       [215,   0],
       [217,   0],
       [218,   0],
       [219,   0],
       [229,   0],
       [232,   0],
       [233,   1],
       [239,   0],
       [244,   0],
       [246,   0],
       [250,   1],
       [268,   0],
       [270,   0],
       [274,   0],
       [282,   0],
       [286,   0],
       [287,   0],
       [294,   0],
       [299,   0],
       [303,   0],
       [306,   1],
       [307,   1],
       [309,   0],
       [310,   0],
       [311,   1],
       [325,   0],
       [328,   0],
       [331,   1],
       [332,   1],
       [336,   0],
       [337,   0],
       [338,   1],
       [339,   0],
       [341,   0],
       [346,   0],
       [348,   0],
       [355,   0],
       [357,   0],
       [361,   0],
       [362,   0],
       [366,   1],
       [368,   1],
       [373,   0],
       [385,   0],
       [387,   0],
       [395,   0],
       [396,   0],
       [403,   0],
       [405,   0],
       [406,   0],
       [408,   0],
       [412,   0],
       [413,   0],
       [417,   0],
       [419,   0],
       [420,   0],
       [421,   0],
       [423,   1],
       [431,   0],
       [432,   0],
       [433,   0],
       [434,   0],
       [452,   1],
       [453,   0],
       [458,   1],
       [459,   1],
       [460,   0],
       [462,   0],
       [464,   0],
       [468,   0],
       [472,   0],
       [480,   0],
       [481,   0],
       [483,   0],
       [485,   0],
       [490,   1],
       [495,   0],
       [497,   0],
       [498,   0],
       [499,   0],
       [501,   0],
       [503,   1],
       [504,   0],
       [505,   1],
       [514,   0],
       [515,   0],
       [518,   0],
       [524,   0],
       [525,   0],
       [530,   0],
       [533,   0],
       [534,   0],
       [537,   0],
       [540,   0],
       [544,   1],
       [551,   0],
       [553,   0],
       [560,   0],
       [561,   0],
       [565,   0],
       [567,   0],
       [569,   0],
       [571,   1],
       [574,   0],
       [583,   0],
       [584,   0],
       [590,   0],
       [593,   0],
       [594,   0],
       [599,   1],
       [608,   1],
       [614,   0],
       [616,   0],
       [620,   0],
       [622,   0],
       [626,   0],
       [627,   0],
       [630,   1],
       [633,   1],
       [640,   1],
       [644,   1],
       [648,   0],
       [653,   1],
       [654,   0],
       [655,   1],
       [663,   0],
       [666,   0],
       [673,   1],
       [676,   1],
       [679,   0],
       [680,   0],
       [681,   1],
       [686,   0],
       [691,   1],
       [694,   1],
       [695,   1],
       [709,   0],
       [716,   0],
       [719,   1],
       [726,   1],
       [730,   1],
       [731,   1],
       [735,   0],
       [739,   0],
       [740,   1],
       [754,   1],
       [755,   1],
       [757,   1],
       [758,   1],
       [760,   1],
       [762,   1],
       [763,   1],
       [778,   1],
       [781,   1],
       [782,   0],
       [783,   1],
       [784,   1],
       [785,   1],
       [787,   1],
       [789,   1],
       [793,   0],
       [799,   1],
       [801,   1],
       [802,   1],
       [803,   1],
       [805,   1],
       [812,   1],
       [813,   0],
       [818,   0],
       [819,   0],
       [820,   1],
       [824,   0],
       [827,   1],
       [830,   0],
       [832,   1],
       [834,   0],
       [837,   1],
       [838,   0],
       [847,   1],
       [848,   1],
       [849,   0],
       [860,   0],
       [864,   1],
       [865,   0],
       [869,   1],
       [870,   0],
       [874,   0],
       [882,   1],
       [885,   1],
       [887,   1],
       [895,   1],
       [900,   1],
       [904,   1],
       [909,   1],
       [911,   1],
       [912,   1],
       [914,   1],
       [920,   1],
       [921,   1],
       [923,   1],
       [926,   1],
       [929,   1],
       [931,   1],
       [932,   1],
       [934,   1],
       [938,   1],
       [944,   1],
       [946,   1],
       [947,   1],
       [951,   0],
       [952,   1],
       [957,   0]], dtype=int64)

In [24]:
np.savetxt('Datathon19 - Vijaykumar R Pai.csv', pred, delimiter=',', fmt="%i")

In [26]:
import csv
with open('Datathon19 - Vijaykumar R Pai.csv',newline='') as f:
    r = csv.reader(f)
    data = [line for line in r]
with open('Datathon19 - Vijaykumar R Pai.csv','w',newline='') as f:
    w = csv.writer(f)
    w.writerow(['Id','class'])
    w.writerows(data)